<div class="jumbotron">
  <p class="lead" style="color: #6EACDF;">
    <img style="max-height: 150px;" src="images/tshirt.png" alt="I'm Yeoman"><br>
    Welcome to AMRS Point of Care System
  </p>
</div>

<div class="row marketing">
  <h5 style="color: #6EACDF;"> <span class="glyphicon glyphicon-check"></span>  Access Patient Info Faster!</h4>
  <p>
    P.O.C gives you latest patient's information faster and presented comprehensively.
  </p>

  <h5 style="color: #6EACDF;"> <span class="glyphicon glyphicon-check"></span>  Built for clinicians!</h4>
  <p>
    Made easy for clinicians
  </p>

  <h5 style="color: #6EACDF;"> <span class="glyphicon glyphicon-check"></span>  Access Patient Info anywhere on any device!</h4>
  <p>
    Supports all platforms with offline mode.
  </p>

  <h5 style="color: #6EACDF;"> <span class="glyphicon glyphicon-check"></span>  Improved user experience!</h4>
  <p>
    Improved user experience with modern technology in use.
  </p>
</div>
