<div class="panel panel-info">
    <div class="panel-heading px-nested-panel-heading clearfix">
        <form class="form-inline">
        <div class="form-group">
            <label for="search-textbox">Choose a Form to Fill:</label>
            <div class="input-group">
                <input class="form-control" id="search-textbox" placeholder="Filter..." type="text" ng-model="searchString" />
                <div class="input-group-btn">
                    <button class="btn btn-default pull-right" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="panel-body px-nested-panel-body animate-repeat" ng-repeat="form in forms | filter:{ name: searchString }">
        <p class="form-list-item">
            <a href="#/form/{{form.uuid}}/patient/{{patient.uuid()}}">
                <span class="glyphicon glyphicon-plus-sign" style="letter-spacing: normal;" />
                <span style="font-family:Arial, Helvetica, sans-serif;"> {{form.name}}</span></a>
        </p>
    </div>
</div>