<div ng-controller="FormentryCtrl" class="panel panel-info" style="padding:4px;">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">

  <form name="vm.form" novalidate>
    <div class="breadcrumb">
      Patient Details: Identifier: {{vm.patient.identifierFormatted()}} | Name : {{vm.patient.fullNames()}}
      |{{vm.success}}
    </div>
    <div>{{vm.error}}</div>

    <formly-form fields="vm.userFields">
      <button type="submit" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.user)">Submit</button>
       <!--
       <div>
        <h2>form data </h2>
        {{vm.userFields}}
      </div>

      <div>

        <h2>Fields</h2>
        <div ng-repeat="model in vm.userFields">
          {{model.model}}
        </div>

        </div>
-->
    </formly-form>

  </form>
  <!-- Put custom templates here -->
      <script type="text/ng-template" id="my-messages.html">
        <formly-transclude></formly-transclude>
        <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched">
          <div class="some-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" style="color:red;">
            {{message(fc.$viewValue, fc.$modelValue, this)}}
          </div>
        </div>
      </script>
      <!--
      Custom template to allows representation of repeatSection
      in a form.
      I would love to move this in it own template but initial
      tests did not work. Will give some further consultations
      later.....
      -->
            <script type="text/ng-template" id="repeatSection.html">
            <div class="panel panel-default">
            <div class="panel-heading">
            {{to.label}}
            </div>
            <div class="panel-body">
            <!--loop through each element in model array-->
            <div class="{{hideRepeat}}">
              <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                <formly-form fields="fields"
                             model="element"
                             bind-name="'formly_ng_repeat' + index + $parent.$index">
                </formly-form>
                <p>
                  <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                    Remove
                  </button>
                </p>
                <hr>
            </div>
            <p class="AddNewButton">
              <button type="button" class="btn btn-primary" ng-click="addNew()" >{{to.btnText}}</button>
            </p>
            </div>

            </div>
            </script>
</div>
