<div class="panel panel-info" style="padding:4px;">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/angular-dialog-service/dist/dialogs.css">
  <form name="vm.form" novalidate>
    <div class="breadcrumb">
      Patient Details: Identifier: {{vm.patient.identifierFormatted()}} | Name : {{vm.patient.fullNames()}}
      |{{vm.success}}
    </div>
    <div>{{vm.error}}</div>
       <tabset>
         <tab ng-repeat="tab in vm.tabs"
              heading="{{tab.title}}"
              active="tab.active"
              disable="tab.disabled"
              select="vm.tabSelected($index)">
           <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options">
           </formly-form>
         </tab>

         <!-- <tab heading="Submit">
           <button type="submit" class="btn btn-primary submit-button" ng-click="vm.onSubmit()">{{vm.submitLabel}}</button>
           <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Cancel</button>
         </tab> -->
       </tabset>
       <button type="submit" class="btn btn-primary submit-button" ng-click="vm.onSubmit()">{{vm.submitLabel}}</button>
       <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Cancel</button>

     </form>
     <hr />
     <h2>Model Value</h2>
     <pre>{{vm.model | json}}</pre>
     <!-- <h2>Tabs <small>(note, functions are not shown)</small></h2>
     <pre>{{vm.originalTabs | json}}</pre>
     <h2>Form Fields</h2>
     <pre ng-repeat="tab in vm.tabs">{{tab.form.fields | json}}</pre> -->
     <!-- important scripts Section -->
     <!-- Put custom templates here -->
     <script type="text/ng-template" id="error-messages.html">
           <formly-transclude></formly-transclude>
           <div class="error-messages" ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched">
             <div class="message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" style="color:red;">
               {{message(fc.$viewValue, fc.$modelValue, this)}}
             </div>
           </div>

     </script>
         <!--
         Custom template to allows representation of repeatSection
         in a form.
         I would love to move this in it own template but initial
         tests did not work. Will give some further consultations
         later.....
         -->
               <script type="text/ng-template" id="repeatSection.html">
               <div class="panel panel-default">
               <div class="panel-heading">
               {{to.label}}
               </div>
               <div class="panel-body">
               <!--loop through each element in model array-->
               <div class="{{hideRepeat}}">
                 <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                   <formly-form fields="fields"
                                model="element"
                                bind-name="'formly_ng_repeat' + index + $parent.$index">
                   </formly-form>
                   <p>
                     <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                       Remove
                     </button>
                   </p>
                   <hr>
               </div>
               <p class="AddNewButton">
                 <button type="button" class="btn btn-primary" ng-click="addNew()" >{{to.btnText}}</button>
               </p>
               </div>

               </div>
               </script>


        <script type="text/ng-template" id="section.html">
        <div class="panel panel-primary">

          <div class="panel-heading px-nested-panel-heading clearfix">
            <strong class="control-label" ng-if="to.label">
              {{to.label}}
              {{to.required ? '*' : ''}}
            </strong>
          </div>

          <div class="panel-body px-nested-panel-body">
            <formly-transclude></formly-transclude>
          </div>

        </div>
    </script>
</div>
