.note-info {
  color: #012100;
}

.note-label-primary {
  text-align: right;;
  font-style: oblique;
  font-weight: bold;
  font-size: 14px;
  color: #2B3856;
}

.note-label {
  font-family: monospace;
  text-align: right;
  color: #2B3856;
}

.note-table-row {
    border-bottom-color: slategray;
    border-bottom-style: double;
}
