/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
  border: lightgray;
  border-width: thin;
  border-style: double;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
  border: darkred;
  border-width: thin;
  border-style: double;
}

/* line 11, ../sass/offline-theme-default-indicator.sass */
.offline-ui {
  font-family: "Helvetica Neue", sans-serif;
  padding: 0.5em;
  max-width: 100%;
  bottom: 0.2em;
  left: 0.2em;
}
.offline-ui .offline-ui-content {
    padding-left: 2em; }

    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Your computer is Online. "; }
      @media (max-width: 1024px) {
        .offline-ui.offline-ui-up .offline-ui-content:before {
          content: "Your device is Online. "; } }
      @media (max-width: 568px) {
        .offline-ui.offline-ui-up .offline-ui-content:before {
          content: "Your device is connected. "; } }
    .offline-ui.offline-ui-up.offline-ui-up-5s {
      display: block; }
    .offline-ui.offline-ui-down {
      display: block; }
      .offline-ui.offline-ui-down .offline-ui-content:before {
        content: "Your computer is Offline. "; }
        @media (max-width: 1024px) {
          .offline-ui.offline-ui-down .offline-ui-content:before {
            content: "Your device is Offline. "; } }
        @media (max-width: 568px) {
          .offline-ui.offline-ui-down .offline-ui-content:before {
            content: "Your device isn't connected. "; } }
      .offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
        content: "Attempting to reconnect... "; }

/* line 19, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-up {
  background: #d6e9c6;
  color: #468847;
}
/* line 23, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-down {
  background: #ec8787;
  color: #551313;
}
