<div ng-disabled="isBusy">
  <div class="well" style="padding:2px;">
    <div class="row">
      <div class="form-group col-md-12">
        <label for="start-date">Select Date</label>
        <div>
          <p class="input-group">
            <input type="text" id="start-date" class="form-control" datepicker-popup="mediumDate" ng-model="selectedDate" ng-model-options="{getterSetter: true}"
                   is-open="dateControlStatus.startOpened" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openDatePopup($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
						</span>
          </p>
          <div style="padding-bottom: 23px">
            <button class="btn btn-info previous" style="float:left" ng-click="navigateDay(-1)"> <span class="glyphicon glyphicon-chevron-left"></span>Previous Day</button>
            <button class="btn btn-info next" style="float:right" ng-click="navigateDay(1)">Next Day <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show='!isBusy && experiencedLoadingError'>
      <button class="btn btn-info" ng-click="loadSchedule()">
        <span class="glyphicon glyphicon-refresh"></span>
        <span>Reload</span>
      </button>
    </div>
    <div ng-show='isBusy'>
      <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
      <b>Loading data...</b>
    </div>
  </div>
  <h3>Appointment List </h3>
  <div ng-show='experiencedLoadingError'>
    <p class="bg-danger" style="padding:4px;">
      <b>
        <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
    <p>
  </div>
  <div class="form-group">
    <p class="bg-info" style="padding:4px; margin-top: 0px; margin-bottom: 2px;" >
      <b >
        <span style="color:#337ab7; font-size:14px;" class="glyphicon glyphicon-info-sign"></span> Number of Patients: {{patients.length}}  </b>
        <button class="btn btn-default" ng-click="viewDayVisits(selectedDate())"> View Actual Visits</button>
    <p/>
    <div/>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div class="input-group">

          <input class="form-control"  placeholder="Filter..." type="text" ng-model="searchString"/>
          <div class="input-group-btn">
            <button class="btn btn-default pull-right" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>

        </div>
      </div>

      <table class='table table-hover table-striped table-responsive'>
        <thead>
        <tr>
          <th></th>
          <th>Identifier</th>
          <th>Name</th>
        </tr>
        </thead>
        <tr  ng-repeat="patient in customAppointmentPatients | filter:searchString | startFrom:(currentPage-1)*10 | limitTo:10" ng-class="{ warning: patient.status}" data-ng-click="loadPatient(patient.uuid)">
          <td>{{ ($index + 1) + (currentPage - 1) * 10}}</td>
          <td>{{patient.identifier}}</td>
          <td>{{patient.name | titlecase}}</td>
          <td>
            <a href="#/patient/{{patient.uuid}}"><span style="font-size:14px;" class="glyphicon glyphicon-zoom-in"></span></a>
          </td>
        </tr>
      </table>

      <hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />
      <pagination boundary-links="true" ng-model="currentPage" max-size="10" total-items="customAppointmentPatients.length" items-per-page="10"
                  ss="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" style="margin-top: 0px; margin-bottom: 0px; margin-left:2px;"
                  last-text="&raquo;" rotate="false"></pagination>
    </div>
  </div>
</div>
