<script id="customMonthCell.html" type="text/ng-template">
  <div class="cal-month-day">

    <span class="pull-right" data-cal-date ng-click="dateClicked(day.date)" ng-bind="day.label">
    </span>

    <p style="position: absolute; bottom: 10px; left: 5px">
      <span ng-repeat="event in day.events | orderBy:'startsAt' track by event.$id">
       <span class="pull-left label label-{{event.labelType}}" style="margin-right:2px;">{{event.title}}</span>
      </span>
    </p>

  </div>
</script>
<script id="calendarSlideBox.html" type="text/ng-template">
  <div class="cal-slide-box" uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">
    <div style='margin:5px' class="row" role="group" aria-label="...">
      <div class="col-xs-4" ng-repeat="event in vm.events | orderBy:'startsAt' track by event.$id">
        <button ng-click="vm.onEventClick({calendarEvent: event})"  type="button" class="btn btn-block btn-{{event.type}}">{{event.title}} {{event.label}}
        </button>
      </div>
    </div>
  </div>
</script>
<div>
  <span>Key:
  <span class="label label-success">Visits</span>
  <span class="label label-info">Appointments</span>
  <span class="label label-warning">Not returned</span>
  <span class="label label-danger">Defaulted</span>
  </span>
</div>
<div dw-loading="calendarViewLoader" dw-loading-options="{text: 'Hang in there......'}">
  <div class="row">
    <div class="text-center">
      <p>
        <h2 class="text-center">{{ calendarTitle }}</h2> <span class="btn-group">
        <button ng-disabled="isBusy" ng-click='getAppointments()' class="btn btn-primary" mwl-date-modifier date="viewDate" decrement="calendarView">
          Previous Month
        </button>
        <button ng-disabled="isBusy" ng-click='getAppointments()' class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today>
          This Month
        </button>
        <button ng-show='!isBusy && experiencedLoadingError' class="btn btn-danger" ng-click="getAppointments()">
          <span class="glyphicon glyphicon-refresh"></span>
        <span>Retry</span>
        </button>
        <button ng-disabled="isBusy" ng-click='getAppointments()' class="btn btn-primary" mwl-date-modifier date="viewDate" increment="calendarView">
          Next Month
        </button>
        </span>
      </p>
    </div>
  </div>
</div>
<mwl-calendar events="events" view="calendarView" view-title="calendarTitle" on-event-click="eventClicked(calendarEvent)" view-date="viewDate">
</mwl-calendar>
