<div ng-disabled="isBusy">
	<div class="well" style="padding:2px;">
		<div class="row">
			<div class="form-group col-md-12">
				<label for="start-date">Select Date</label>
				<div>
					<p class="input-group">
						<input type="text" id="start-date" class="form-control" datepicker-popup="mediumDate" ng-model="selectedDate" ng-model-options="{getterSetter: true}"
						is-open="status.startOpened" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="startOpen($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div ng-show='!isBusy'>
			<button class="btn btn-info" ng-click="loadSchedule()">
				<span class="glyphicon glyphicon-refresh"></span>
				<span>Reload</span>
			</button>
		</div>
		<div ng-show='isBusy'>
			<img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
			<b>Loading data...</b>
		</div>
	</div>
	<h3>Appointment List</h3>
	<div ng-show='experiencedLoadingError'>
		<p class="bg-danger" style="padding:4px;">
			<b>
				<span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
			<p>
	</div>
	<table class='table table-hover table-striped table-responsive'>
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Name</th>
				<th>RTC Date</th>
			</tr>
		</thead>
		<tr ng-repeat="patient in patients" data-ng-click="loadPatient(patient.uuid())">
			<td>{{patient.identifiers()}}</td>
			<td>{{patient.givenName() + ' ' + patient.familyName() + ' ' + patient.middleName()}}</td>
			<td>{{moment(patient.rtcDate()) | date:'dd-MM-yyyy'}}</td>
			<td>
				<a href="#/patient/{{patient.uuid()}}"><span style="font-size:14px;" class="glyphicon glyphicon-zoom-in"></span></a>
			</td>
		</tr>
	</table>
</div>