<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 " style="min-height: 60px; margin: 2px 2px 10px 2px;">
      <input type="text" id="rangeSlider" name="rangeSlider" value=""/>
      <!--<hr style="margin: 2px 0px 2px 0px;">-->
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          <span class="fa fa-dashboard"> </span>
          HIV Care Comparative Overview

        </div>
        <div class="chart-stage" dw-loading="{{hivComparative.reportName}}"
             dw-loading-options="{text: 'Fetching Hiv analytics...'}">
          <div kendo-tab-strip k-content-urls="[ null, null]">
            <!-- tab list -->
            <ul>
              <li class="k-state-active">Graphical View</li>
              <li>Tabular View</li>
              <li>Indicator Definitions</li>
            </ul>

            <div id="hivComparativeChart">
              <c3chart bindto-id="hivComparativeChart"
                       chart-data="hivComparative.chart.dataPoints"
                       chart-columns="hivComparative.chart.dataColumns"
                       chart-x="hivComparative.chart.xAxis"
                       show-labels="true"
                       show-subchart="false"
                       enable-zoom="true">
                <chart-axes values-x="x" y="{{hivComparative.chart.yAxis}}" y2="{{hivComparative.chart.y2Axis}}"/>
                <chart-axis>
                  <chart-axis-x axis-position="outer-center"
                                axis-label="Date (Month)"
                                axis-type="category">


                  </chart-axis-x>
                  <chart-axis-y axis-id="y"
                                axis-position="outer-right"
                                axis-label="Number Of Patients"
                                range-max="hivComparative.chart.max"
                                range-min="hivComparative.chart.min"/>
                </chart-axis>
                <chart-axis-y axis-id="y2"
                              axis-position="outer-right"
                              axis-label="Percent (%)"
                              range-max="100"
                              range-min="0"/>
                <chart-points point-radius="5"
                              show-point="true"
                              point-expand-enabled="true"
                              point-expand-radius="10"/>
                <chart-grid show-x="true" show-y="true">
                </chart-grid>
                <chart-events
                  on-click-data="generatePatientList(data, hivComparative, getSelectedMonth(data).startDate, getSelectedMonth(data).endDate, false)"/>
                <chart-legend show-legend="true" legend-position="bottom"/>
                <chart-tooltip value-format-function="roundOffValues"/>
              </c3chart>

            </div>
            <div >
              <!-- DATATABLE -->
              <span class="text-primary " ng-hide="bsTableControl.options.data"><strong><p class="text-center">Please wait... rendering table</p></strong></span>
              <div ng-show="bsTableControl.options.data">
              <div id="toolbar2">

              </div>
              <table id="bsWixTable2" class="table table-striped table-condensed table-hover"
                     bs-table-control="bsTableControl">
              </table>
              </div>
            </div>
            <div>
              <uib-accordion close-others="true">
                <uib-accordion-group heading="Patients in Care:" is-open="true" style="padding: 5px!important;">
                  <span class="text-muted "> A patient is in care if it has been less than 90 days from the return to clinic date within the given
                  reporting period.  For example, if at the last clinical encounter, the patient was given an RTC date of
                  February 1, she is active in care in February, March and April. If she does not come back to clinic,
                  she will be first out of care in May. Note, we are using the last RTC  date given by a clinician for
                  this definition.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Patients on ART:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  A patient is on ART if they are in care and was prescribed ART at their last clinical encounter.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="% on ART with VL:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  For this indicator the denominator includes patients who are active in care, on ART and require a viral load.
                  A patient requires a viral load if they have been on ART more than 6 months. The numerator are those patients
                  who are active in care, on ART, required a viral load and got a viral load
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="% Virally Suppressed:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  The denominator includes those patients who are active in care, on ART, required a viral load and got
                  a viral load. The numerator includes those patients who required a viral load and the result was less than 1000
                    </span>
                </uib-accordion-group>
                 <uib-accordion-group heading="On ART without VL:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  Patients who are under ART and are missing Viral Load in past year
                    </span>
                </uib-accordion-group>
                 <uib-accordion-group heading="Due For Annual VL:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 In a specific month, these are patients who need new Annual Viral Load  but none was ordered in that month.
                 For example, If a patient had an annual VL on 10/2015, the he/she will be due on 10/2016 and not any other month
                  </span>
                </uib-accordion-group>
                 <uib-accordion-group heading="Ordered & Pending VL Result:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 In a specific month, these are patients with pending Viral Load Orders that
                  have not resulted.
                   </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Missing VL Order:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 From reporting start-date to a specific month, these are patients on ART, with no Viral Load  and
                  no Viral Load Test Order (Patients whose Viral Load Test Order not placed)
                 
                  </span>
                </uib-accordion-group>
              </uib-accordion>
            </div>


          </div>

        </div>
        <div class="chart-notes">
          A comparative graph showing HIV Care analysis
          (From: {{startDate| date:'dd/MM/yyyy'}} To: {{endDate| date:'dd/MM/yyyy'}})
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          <span class="fa fa-dashboard"> </span>
          Patient Status Overview

        </div>
        <div class="chart-stage" dw-loading="{{patientStatus.reportName}}"
             dw-loading-options="{text: 'Fetching Patient Status analytics...'}">
          <div kendo-tab-strip k-content-urls="[ null, null]">
            <!-- tab list -->
            <ul>
              <li class="k-state-active">Graphical View</li>
              <li>Indicator Definitions</li>
            </ul>

            <div >
              <c3chart bindto-id="patient-status-chart"
                   chart-data="patientStatus.chart.dataPoints"
                   chart-columns="patientStatus.chart.dataColumns">

            <chart-donut title="Patient Status" width="60"/>
            <chart-size chart-height="250"/>
            <chart-events
              on-click-data="generatePatientList(data, patientStatus, patientStatus.startDate, patientStatus.endDate, true)"/>
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-tooltip value-format-function="formatTooltipValue"/>
          </c3chart>
              <strong class="pull-right text-muted">Total Patients:{{patientStatus.result[0].patients}}</strong>
            </div>
            <div>
              <uib-accordion close-others="true">
                <uib-accordion-group heading="Patients in Care:" is-open="true" style="padding: 5px!important;">
                  <span class="text-muted"> A patient is in care if it has been less than 90 days from the return to clinic date within the given
                  reporting period.  For example, if at the last clinical encounter, the patient was given an RTC date of
                  February 1, she is active in care in February, March and April. If she does not come back to clinic,
                  she will be first out of care in May. Note, we are using the last RTC  date given by a clinician for
                  this definition.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Transferred Out Patients:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  A patient is considered to be transferred out if a provider declares the patient as "NON-AMPATH"
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Deceased Patients:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                    This indicator includes all patients with patient care status of "DECEASED"
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Untraceable Patients:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  This indicator includes all patients with patient care status of "UNTRACEABLE"
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="HIV Negative Patients:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  This indicator includes all patients with patient care status of "HIV NEGATIVE, NO LONGER AT RISK"
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Self Disengaged From Care:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  This indicator includes all patients with patient care status of "SELF DISENGAGED FROM CARE"
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Defaulters:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  This indicator includes all patients with patient care status of "CONTINUE" and their RTC date is greater than 90 days from the reporting
                    date
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Others:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  This indicator includes all patients who do not fall in either of the above categories
                    </span>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>
        <div class="chart-notes">
          A comparative chart showing patient care status statistics
          (From: {{patientStatus.startDate| date:'dd/MM/yyyy'}} To: {{patientStatus.endDate| date:'dd/MM/yyyy'}})
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          <span class="fa fa-dashboard"> </span>
          ART Overview

        </div>
        <div class="chart-stage" dw-loading="{{art.reportName}}"
             dw-loading-options="{text: 'Fetching ART analytics...'}">
          <div kendo-tab-strip k-content-urls="[ null, null]">
            <!-- tab list -->
            <ul>
              <li class="k-state-active">Graphical View</li>
              <li>Indicator Definitions</li>
            </ul>

            <div >
               <c3chart bindto-id="art-chart"
                   chart-data="art.chart.dataPoints"
                   chart-columns="art.chart.dataColumns">

            <chart-donut title="ART" width="60"/>
            <chart-size chart-height="250"/>
            <chart-events on-click-data="generatePatientList(data, art, art.startDate, art.endDate, true)"/>
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-tooltip value-format-function="formatTooltipValue"/>
          </c3chart>
              <strong class="pull-right text-muted">Total Patients:{{art.result[0].patients}}</strong>
            </div>
            <div>
              <uib-accordion close-others="true">
                <uib-accordion-group heading="Not on any ARV Drugs:" is-open="true" style="padding: 5px!important;">
                  <span class="text-muted">
                    A patient is considered to be on "Not on any ARV Drugs:" if he/she is not on any ARV drugs.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Nevirapine:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 A patient is considered to be on "Nevirapine" if current ARV regimen formulation contains:
                    NEVIRAPINE or NEVIRAPINE LAMIVUDINE AND ZIDOVUDINE or STAVUDINE LAMIVUDINE AND NEVIRAPINE.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Efavirenz:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 A patient is considered to be on "Efavirenz" if current ARV regimen formulation contains:
                    TDF AND 3TC AND EFV or Efavirenz.

                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Lopinavir:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  A patient is considered to be on "Lopinavir" if current ARV regimen formulation contains:
                    Lopinavir or LOPINAVIR AND RITONAVIR.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Atazanavir:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  A patient is considered to be using "Atazanavir" if current ARV regimen formulation contains:
                    ATAZANAVIR or ATAZANAVIR AND RITONAVIR.
                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Raltegravir:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                  A patient is considered to be on "Raltegravir" if current ARV regimen formulation contains: Raltegravir.

                    </span>
                </uib-accordion-group>
                <uib-accordion-group heading="Others:" is-open="false" style="padding: 5px!important;">
                  <span class="text-muted">
                 A patient is considered to be on "others" if current ARV regimen formulation neither contains: Raltegravir or
                  Atazanavir or ATAZANAVIR AND RITONAVIR or Efavirenz or TENOFOVIR AND LAMIVUDINE AND EFAVIRENZ or
                    LOPINAVIR or LOPINAVIR AND RITONAVIR or NEVIRAPINE or NEVIRAPINE LAMIVUDINE AND ZIDOVUDINE or
                    STAVUDINE LAMIVUDINE AND NEVIRAPINE.
                    </span>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>
        <div class="chart-notes">
          A comparative chart showing ARV Drugs consumption statistics
          (From: {{art.startDate| date:'dd/MM/yyyy'}} To: {{art.endDate| date:'dd/MM/yyyy'}})
        </div>
      </div>
    </div>
  </div>


  <hr>

  <p class="small text-muted pull-right">
    <a class="btn btn-success" href="javascript:window.print()">
      <span class="glyphicon glyphicon-print"></span>
      <span>Click to Print</span>
    </a>
  
  </p>

</div>
<style type="text/css" media="print">
  @page { size: A2 landscape; }
</style>