<div class="form-group animate-show " style="margin-top:12px; margin-bottom:8px;" ng-show="locationSelectionEnabled">
	<div class="input-group">
		<div class="input-group-addon">
			<span class="text-danger">
				<img ng-show="isBusy" src="images/ajax-loader.gif" />
			</span>
			<span ng-hide="isBusy" class="glyphicon glyphicon-map-marker"></span>
		</div>
		<ui-select ng-model="selectedLocation.selected" theme="bootstrap" on-select="onLocationSelection($event)" ng-disabled="isBusy">
			<ui-select-match placeholder="Select a location or type to search">{{$select.selected.name()}}</ui-select-match>
			<ui-select-choices repeat="location in locations | propsFilter: {name: $select.search, description: $select.search} ">
				<div ng-bind-html="location.name() | highlight: $select.search"></div>
				<small ng-bind-html="location.description() | highlight: $select.search" class="border-success"></small>
			</ui-select-choices>
		</ui-select>
	</div>
</div>
<hr style="margin: 0px;" />
<div style="padding: 4px;" ng-hide="selectedLocation.selected === undefined">
	<div style="margin-top:2px; cursor: pointer;" ng-click="locationSelectionEnabled = !locationSelectionEnabled">
		<span style="font-size:24px; font-weight:bold;">Cinic Dashboard: {{selectedLocation.selected.name()}}</span>
		<div class="pull-right" style="vertical-align: middle;">
			<span style="font-size:20px; font-weight:bold; vertical-align: middle;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
		</div>
	</div>
	<hr style="margin: -4px;" />
</div>
<ul class="nav nav-pills" style="margin-top:16px;" ng-hide="selectedLocation.selected === undefined">
	<li ui-sref-active="active"><a ui-sref="clinical-dashboard.daily-appointments({locationuuid: selectedLocation.selected.uuId()})"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Daily Visits</a></li>
	<li ui-sref-active="active"><a ui-sref="clinical-dashboard.monthly-appointments({locationuuid: selectedLocation.selected.uuId()})"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Monthly Appointment</a></li>
	<li ui-sref-active="active"><a ui-sref="clinical-dashboard.defaulters-list({locationuuid: selectedLocation.selected.uuId()})"><span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;Defaulters List</a></li>
</ul>
<br>
<div ui-view></div>
