<div ng-disabled="isBusy">
  <div class="well" style="padding:2px;">
    <div class="row">
      <div class="form-group col-md-12">
        <label for="start-date">Select Date</label>
        <div>
          <p class="input-group">
            <input type="text" id="start-date" class="form-control" datepicker-popup="mediumDate" ng-model="selectedDate" ng-model-options="{getterSetter: true}" is-open="dateControlStatus.startOpened" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatePopup($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div style="padding-bottom: 23px">
            <button class="btn btn-info previous" style="float:left" ng-click="navigateDay(-1)"> <span class="glyphicon glyphicon-chevron-left"></span>Previous Day</button>
            <button class="btn btn-info next" style="float:right" ng-click="navigateDay(1)">Next Day <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>

  </div>
    <div ng-show='!isBusyVisits && experiencedVisitsLoadingError'>
      <button class="btn btn-info" ng-click="loadSchedule()">
        <span class="glyphicon glyphicon-refresh"></span>
        <span>Reload</span>
      </button>
    </div>
    <div ng-show='isBusyVisits'>
      <img ng-show="isBusyVisits" src="images/ajax-loader.gif" autofocus />
      <b>Loading visits...</b>
    </div>
    <div style="margin-bottom:2px"><span style="font-size:24px;">{{viewTitle}} <small style="font-size:14px; color:grey;">(Number of Patients: {{customPatients.length}})</small></span></div>
    <!--Update to handle more than  two  views effectively -->



    <!-- original Script
    <a class="btn btn-info pull-right" href ng-click="toggleAppointmentVisits()">Show Appointments</a></span></div>
 !-->


    <div ng-show='experiencedVisitsLoadingError'>
      <p class="bg-danger" style="padding:4px;">
        <b>
        <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
        <p>
    </div>
    <div class="form-group">
      <div/>
      <div class="panel panel-default">
        <!-- Default panel contents -->

        <!-- DATATABLE -->
        <div>

          <div id="toolbar">
            <select ng-model='exportDataType' style="margin-left: 5px" class="form-control"
                    ng-options="l.name for l in exportList" ng-change="updateSelectedType()">
            </select>
          </div>
          <table id="bsTable" class="table table-striped table-condensed table-hover" bs-table-control="bsTableControl" >
          </table>
        </div>
        <!-- END DATATABLE -->

        <hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />
        <div style="padding:2px; margin-bottom: 30px !important; ">
          <div ng-show='!isBusy && !allDataLoaded4DailyVisits'>
            <span class="text-success">{{customPatients.length}} Records Loaded. Click 'Load More' to fetch more records</span>
            <button class="btn btn-info pull-right " ng-click="loadSchedule(true)">
              <span class="glyphicon glyphicon-refresh"></span> Load More</button>
          </div>
          <div ng-show='isBusy && !allDataLoaded4DailyVisits'>
            <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
            <b>Loading data...</b>
          </div>
          <div ng-show='allDataLoaded4DailyVisits'>
            <p class="bg-info" style="padding:4px;">
              <b>
              <span style="color:green;" class="glyphicon glyphicon-ok" />All data loaded {{'[ ' + customPatients.length + ' ]'}}</b>
              <p>
          </div>
        </div>
      </div>
    </div>
</div>
