<h2 style=" margin-top: 0px !important; ">
  <span style="font-size:20px;" class="glyphicon glyphicon-users">
  </span><strong> Defaulters List</strong>
</h2>
<div ng-disabled="isBusy">
	<div class="well" style="padding:2px;">
		<div class="row">
			<div class="form-group col-md-12">
				<label for="number-days">Enter Days Missing >=
					<small>(greater or equal to)</small>
				</label>
				<input type="number" id="number-days" class="form-control" ng-model="defaulterThreshold" />
			</div>
		</div>
		<div ng-show='!isBusy'>
			<button class="btn btn-info" ng-click="loadDefaulterList()">
				<span class="glyphicon glyphicon-refresh"></span>
				<span>Load</span>
			</button>
		</div>
		<div ng-show='isBusy'>
			<img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
			<b>Loading data...</b>
		</div>
	</div>
	<h3 class="text-warning">Defaulters List</h3>
	<hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />
	<div ng-show='experiencedLoadingError'>
		<p class="bg-danger" style="padding:4px;">
			<b>
				<span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occureile loading. Please try again.</b>
			<p>
	</div>
  <!-- DATATABLE -->
  <div>

    <div id="toolbar">
      <select ng-model='exportDataType' style="margin-left: 5px" class="form-control"
              ng-options="l.name for l in exportList" ng-change="updateSelectedType()">
      </select>
    </div>
    <table id="bsTable" class="table table-striped table-condensed table-hover" bs-table-control="bsTableControl" >
    </table>
  </div>

  <hr style="margin: 4px;" />
  <div style="padding:2px; margin-bottom: 30px !important; ">
    <div ng-show='!isBusy && !allDataLoaded'>
      <span class="text-success">{{patients.length}} Records Loaded. Click 'Load More' to fetch more records</span>
      <button class="btn btn-info pull-right " ng-click="loadDefaulterList(true)">
        <span class="glyphicon glyphicon-refresh"></span> Load More</button>
    </div>
    <div ng-show='isBusy && !allDataLoaded'>
      <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
      <b>Loading data...</b>
    </div>
    <div ng-show='allDataLoaded' >
      <p class="bg-info" style="padding:4px;">
        <b>
          <span style="color:green;" class="glyphicon glyphicon-ok" />All data loaded {{'[ ' + patients.length + ' ]'}}</b>
      <p>
    </div>
  </div>
</div>
