<div ng-disabled="isBusy">
	<div class="well" style="padding:2px;">
		<div class="row">
			<div class="form-group col-md-12">
				<label for="number-days">Enter Days Missing >=
					<small>(greater or equal to)</small>
				</label>
				<input type="number" id="number-days" class="form-control" ng-model="defaulterThreshold" />
			</div>
		</div>
		<div ng-show='!isBusy'>
			<button class="btn btn-info" ng-click="loadDefaulterList()">
				<span class="glyphicon glyphicon-refresh"></span>
				<span>Load</span>
			</button>
		</div>
		<div ng-show='isBusy'>
			<img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
			<b>Loading data...</b>
		</div>
	</div>
	<h3 class="text-warning">Defaulters List</h3>
	<hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />
	<div ng-show='experiencedLoadingError'>
		<p class="bg-danger" style="padding:4px;">
			<b>
				<span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
			<p>
	</div>
	<table class='table table-hover table-striped'>
		<thead>
			<tr>
				<td>#</td>
				<th>Identifier</th>
				<th>Name</th>
				<th>RTC Date</th>
				<th>Last Appointment</th>
				<th></th>
			</tr>
		</thead>
		<tr ng-repeat="patient in patients | startFrom:(currentPage-1)*10 | limitTo:10" data-ng-click="loadPatient(patient.patientUuid())"
		style="cursor: pointer;">
			<td>{{ ($index + 1) + (currentPage - 1) * 10}}</td>
			<td>{{patient.identifiers()}}</td>
			<td>{{patient.personName() | titlecase}}</td>
			<td>{{utcDateToLocal(patient.rtcDate()) | date:'dd-MM-yyyy'}}
				<div>
					<small class="text-warning">[{{patient.daysSinceRtc() }} days ago]</small>
				</div>
			</td>
			<td>{{utcDateToLocal(patient.encounterDatetime()) | date:'dd-MM-yyyy'}}
				<div>{{patient.encounterTypeName()}}</div>
			</td>
			<td>
				<a href="#/patient/{{patient.uuid()}}"><span style="font-size:14px;" class="glyphicon glyphicon-zoom-in"></span></a>
			</td>
		</tr>
	</table>
	<hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />
	<pagination boundary-links="true" ng-model="currentPage" max-size="10" total-items="patients.length" items-per-page="10"
	ss="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" style="margin-top: 0px; margin-bottom: 0px; margin-left:2px;"
	last-text="&raquo;" rotate="false"></pagination>
</div>
