<div class="well" style="padding:2px; cursor:pointer; margin-bottom: 2px !important;">
    <div data-ng-click="isExpanded = !isExpanded" style="margin: 2px;">
        <strong>Report Filters</strong>
        <span class="label label-default pull-right" style="margin-right: 4px;" ng-show="isExpanded">
            <span class="glyphicon glyphicon-menu-up"> </span>
        </span>
        <span class="label label-default pull-right" style="margin-right: 4px;" ng-hide="isExpanded">
            <span class="glyphicon glyphicon-menu-down"></span>
        </span>
    </div>
    <hr style="margin:1px;" />
    <div class="panel panel-default" style="padding: 4px; margin: 2px;" collapse="isExpanded">
        <div class="row" style="padding: 1px;">
            <div class="form-group col-md-6" ng-show="canView('start-date')">
                <label for="start-date">Start Date</label>
                <div class="input-group">
                    <input type="text" id="start-date" class="form-control" is-open="startDateIsOpen"  date-parser="short"
                           datepicker-popup="mediumDate" ng-model="startDate">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDateIsOpen = !startDateIsOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-6" ng-show="canView('start-date')">
                <label for="end-date">End Date</label>
                <div class="input-group">
                    <input type="text" id="end-date" class="form-control" is-open="endDateIsOpen"  date-parser="short"
                           datepicker-popup="mediumDate" ng-model="endDate">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endDateIsOpen = !endDateIsOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div style="margin:4px; cursor:pointer;" collapse="selectingLocation" ng-click="selectingLocation = !selectingLocation">
                <span style="font-size:18px;" ng-hide="isBusy" class="glyphicon glyphicon-map-marker"></span>
                <strong style="font-size:20px;">
                    <span ng-show="selectedLocations.selectedAll === true">All Locations</span>
                    <span ng-show="selectedLocations.selectedAll === false"><span ng-repeat="location in selectedLocations.locations">{{location.name()}}, </span></span>
                </strong>
            </div>

            <!--End  of  Location Select -->

        </div>

    </div>

</div>
