<div class="well" style="padding:2px;">
	<div class="row">
		<div class="form-group col-md-12">
			<label for="start-date">Select Month</label>
			<div>
				<p class="input-group">
					<input type="text" id="start-date" class="form-control" datepicker-popup="MM/yyyy" datepicker-mode="'month'" datepicker-options="{ 'minMode': 'month' }"
					ng-model="selectedMonth" ng-model-options="{getterSetter: true}" is-open="status.startOpened" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="startOpen($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
<h3>Monthly Appointments</h3>
<div class="container-fluid" style="border: 1px solid blue;">
	<div class="header row bg-primary" style="min-height:30px;">
		<span class="col-xs-12" style="text-align: center;">{{month.format("MMMM, YYYY")}}</span>
	</div>
	<div class="week names row">
		<div class="day col-xs-1">Sun</div>
		<div class="day col-xs-2">Mon</div>
		<div class="day col-xs-2">Tue</div>
		<div class="day col-xs-2">Wed</div>
		<div class="day col-xs-2">Thu</div>
		<div class="day col-xs-2">Fri</div>
		<div class="day col-xs-1">Sat</div>
	</div>
	<div class="week row" ng-repeat="week in weeks" style="min-height: 20px;">
		<div class="day" ng-click="viewDaysAppointments(day)" 
			style="padding: 2px; margin-bottom: 2px; cursor: pointer;" 
			ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), 'col-xs-1': $index === 0 || $index === 6, 'col-xs-2' : $index !== 0 && $index !== 6 }"
			ng-repeat="day in week.days">
			<div class="panel panel-default" style="padding: 1px; horizontal-alignment: center;">
				{{day.number}}
				<div>
					<span class="label" ng-class="{'label-primary':((appointments | datesFilter: day) !== 0) }" >{{appointments | datesFilter: day}} <span class="glyphicon glyphicon-list-alt hidden-xs"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>