
<div class="well" style="padding:2px; cursor:pointer; margin-bottom: 2px !important;">
  <div style="margin: 2px">
  </div>
  <hr style="margin:1px;" />
  <div class="panel panel-default" style="padding: 4px; margin: 2px;" collapse="isExpanded">
    <div class="row" style="padding: 1px;">
      <div style="margin: 2px; ">
        <div class="form-group col-md-6">
          <label for="start-date"  class="col-sm-2 control-label">Start Date</label>
          <div class="input-group">
            <input type="text" id="start-date" class="form-control" is-open="startDateIsOpen" date-parser="short" datepicker-popup="mediumDate"
                   ng-model="startDate">
                    <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="startDateIsOpen = !startDateIsOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            			</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label  class="col-sm-2 control-label" for="end-date">End Date</label>
          <div class="input-group">
            <input type="text" id="end-date" class="form-control" is-open="endDateIsOpen" date-parser="short" datepicker-popup="mediumDate"
                   ng-model="endDate">
                    <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="endDateIsOpen = !endDateIsOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            			</span>
          </div>
        </div>
        <hr/>
      </div>

      <clinical-analytics-visualization  start-date="startDate" end-date="endDate"
                      selected-locations="selectedLocation" >
      </clinical-analytics-visualization>
    </div>

  </div>

</div>

