<div class="row">
	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.patient-creation-statistics" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong> Patient Creation Statistics</strong></h4>
			</div>
			<div>
				<p>
					<small>View patients created in all locations between a given time period</small>
				</p>
				<br/>
			</div>
		</a>
	</div>
	
	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.data-entry-statistics" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong> Data Entry Statistics</strong></h4>
			</div>
			<div>
				<p>
					<small>View data entry statistics done through POC by various parameters.</small>
				</p>
				<br/>
			</div>
		</a>
	</div>
	
	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.patient-creation-statistics" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong>HIV Summary Indicators</strong></h4>
			</div>
			<div>
				<p>
					<small>View hiv summary  per different indcators.</small>
				</p>
				<br/>
			</div>
		</a>
	</div>
	
</div>