<div class="row">
	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.patient-creation-statistics" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong> Patient Creation Statistics</strong></h4>
			</div>
			<div>
				<p>
					<small>View patients created in all locations between a given time period</small>
				</p>
				<br/>
			</div>
		</a>
	</div>

	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.data-entry-statistics" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong> Data Entry Statistics</strong></h4>
			</div>
			<div>
				<p>
					<small>View data entry statistics done through POC by various parameters.</small>
				</p>
				<br/>
			</div>
		</a>
	</div>

	<div class="col-xs-6 col-md-4">
		<a ui-sref="admin.hiv-summary-indicators.indicator" class="thumbnail" style="text-decoration:none;">
			<div>
				<h4><strong>HIV Summary Indicators</strong></h4>
			</div>
			<div>
				<p>
					<small>View hiv summary  per different indicators.</small>
				</p>
				<br/>
			</div>
		</a>
	</div>

</div>

<div class="row">

  <div class="col-xs-6 col-md-4">
    <a ui-sref="admin.hiv-summary-indicators.visual" class="thumbnail" style="text-decoration:none;">
      <div>
        <h4><strong>HIV Summary Visualization </strong></h4>
      </div>
      <div>
        <p>
          <small>View hiv summary visualization </small>
        </p>
        <br/>
      </div>
    </a>
  </div>

  <div class="col-xs-6 col-md-4">

    <a ui-sref="admin.patient-register" class="thumbnail" style="text-decoration:none;">
      <div>
        <h4><strong>Patient Register </strong></h4>
      </div>
      <div>
        <p>
          <small>View Patient Level Indicators Stratified by location and indicators </small>

      </p>
        <br/>

      </div>
    </a>
  </div>
      <div class="col-xs-6 col-md-4">
    <a ui-sref="admin.moh-731-report" class="thumbnail" style="text-decoration:none;">
      <div>
        <h4><strong>MOH 731 Report </strong></h4>
      </div>
      <div>
        <p>
          <small>View MOH 731 Report </small>
        </p>
        <br/>
      </div>
    </a>
  </div>

  <div class="col-xs-6 col-md-4">

    <a ui-sref="admin.hiv-monthly-summary-indicators.monthly" class="thumbnail" style="text-decoration:none;">
      <div>
        <h4><strong>HIV Monthly Summary Statistics </strong></h4>
      </div>
      <div>
        <p>
          <small>View hiv monthly summary statistics </small>
        </p>
        <br/>
      </div>
    </a>
  </div>



</div>
