<div class="row">

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.patient-register" style="color:white;text-decoration:none">
            <div class="col-sm-4">
              <i class="fa fa-child fa-5x"></i>
            </div>
            <div>
              <h4><strong>Patient Register </strong></h4>
            </div>
            <div>
              <p>
                <small>View Patient Level Indicators Stratified by location and indicators </small>

              </p>
              <br/>

            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-yellow">

      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.patient-creation-statistics" style="color:white;text-decoration:none">
            <div class="col-sm-4">
              <i class="fa fa-pencil-square-o fa-5x"></i>
            </div>
            <div >
              <h4><strong> Patient Creation Statistics</strong></h4>
            </div>
            <div>
              <p>
                <small>View patients created in all locations between a given time period</small>
              </p>
              <br/>
            </div>
          </a>

        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.data-entry-statistics"  style="color:white;text-decoration:none">
          <div class="col-sm-4">
            <i class="fa fa-file  fa-5x"></i>
          </div>
            <div>
              <h4><strong> Data Entry Statistics</strong></h4>
            </div>
            <div>
              <p>
                <small>View data entry statistics done through POC by various parameters.</small>
              </p>
              <br/>
            </div>
          </a>

        </div>
        </div>

      </div>
	</div>



</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.clinical-visualization" style="color:white;text-decoration:none">
          <div class="col-sm-4">
            <i class="	fa fa-bar-chart-o fa-5x"></i>
          </div>

            <div>
              <h4><strong>Clinical Visualization </strong></h4>
            </div>
            <div>
              <p>
                <small>View Clinical Visualization </small>
              </p>
              <br/>
            </div>
          </a>
        </div>
      </div>
      </div>
  </div>

    <div class="col-sm-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <a ui-sref="admin.hiv-summary-combined" style="color:white;text-decoration:none">
              <div class="col-sm-4">
                <i class="fa fa-tasks fa-5x"></i>
              </div>

              <div>
                <h4><strong>HIV Summary Indicators </strong></h4>
              </div>
              <div>
                <p>
                  <small>View hiv summary Indicators </small>
                </p>
                <br/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <a ui-sref="admin.moh-731-report.report" style="color:white;text-decoration:none">
              <div class="col-sm-4">
                <i class="fa fa-book fa-5x"></i>
              </div>

              <div>
                <h4><strong>MOH 731 Report </strong></h4>
              </div>
              <div>
                <p>
                  <small>View MOH 731 Report </small>
                </p>
                <br/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.clinic-flow" style="color:white;text-decoration:none">
            <div class="col-sm-4">
              <i class="fa fa-clock-o fa-5x"></i>
            </div>

            <div>
              <h4><strong>Clinic Flow </strong></h4>
            </div>
            <div>
              <p>
                <small>View Clinic flow  </small>
              </p>
              <br/>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.patient-requiring-viral-load" style="color:white;text-decoration:none">
            <div class="col-sm-4">
              <i class="fa fa-clock-o fa-5x"></i>
            </div>

            <div>
              <h4><strong>Patients Requiring Viral Load </strong></h4>
            </div>
            <div>
              <p>
                <small>View patients requiring viral load in relation to their return to their RTC</small>
              </p>
              <br/>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>




