<div class="well" style="padding:2px; cursor:pointer; margin-bottom: 2px !important;">
  <div style="margin: 2px;">
  </div>
  <hr style="margin:1px;" />
  <div class="panel panel-default" style="padding: 4px; margin: 2px;" collapse="isExpanded">
      <report-filters enabled-controls="' location'" selected-locations="selectedLocations"report-header="'Select Location(s)'">
     </report-filters>
    <patient-flow
      selected-locations="selectedLocations" >
     </patient-flow>

    </div>

  </div>
