<h2  ng-click="selectedView = ''" style="cursor:pointer;"> <span style="font-size:20px;" class="glyphicon glyphicon-stats"></span><strong> HIV summary Indicators </strong>

</h2>
<div class="container-fluid" style="margin-top: 30px;" >

<div class="row">
<div class="col-sm-4">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <a ui-sref="admin.hiv-monthly-summary-indicators.monthly" style="color:white;text-decoration:none">
          <div class="col-sm-4">
            <i class="fa fa-tasks fa-5x"></i>
          </div>

          <div>
            <h4><strong>Comparison of HIV Indicators by month for one or more clinics</strong></h4>
          </div>
          <div>
            <p>
              <small>Comparison of HIV Indicators by month for one or more clinics </small>
            </p>
            <br/>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


  <div class="col-sm-4" >
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <a ui-sref="admin.hiv-summary-indicators.indicator" style="color:white;text-decoration:none">
            <div class="col-sm-4">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div>
              <h4><strong>Comparison of HIV indicators across clinics for fixed time period</strong></h4>
            </div>
            <div>
              <p>
                <small>Comparison of HIV indicators across clinics for fixed time period </small>
              </p>
              <br/>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

  </div>
  <div>
    <div class="col-sm-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <a ui-sref="admin.clinical-comparator" style="color:white;text-decoration:none">
              <div class="col-sm-4">
                <i class="fa fa-tasks fa-5x"></i>
              </div>

              <div>
                <h4><strong>Comparison of clinics by month for a single HIV indicator </strong></h4>
              </div>
              <div>
                <p>
                  <small>Comparison of clinics by month for a single HIV indicatorr </small>
                </p>
                <br/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

