<div ng-disabled="isBusy">
  <div class="well" style="padding:4px; margin-bottom: 10px !important;" ng-hide="!locationUuid">

    <div class="alert alert-danger" ng-click="loadPatientList()" ng-show='experiencedLoadingErrors' >

				<span class="glyphicon glyphicon-exclamation-sign">
        </span> An error occurred while loading. Please try again.</b>
      <button class="btn btn-info pull-right" style="padding: 2px!important;" ng-click="loadPatientList()">
        <span class="glyphicon glyphicon-refresh"></span>
        <span>Re-Load</span>
      </button>
    </div>
    <span ng-show='!isBusy && !experiencedLoadingErrors' ng-click="loadIndicatorView()">
      <button class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span>Back</span>
      </button>
    </span>
    <span style="height: 35px" ng-show='!isBusy && !experiencedLoadingErrors'>
      <button class="btn btn-info pull-right" ng-click="loadPatientList()">
        <span class="glyphicon glyphicon-refresh"></span>
        <span>Re-Load</span>
      </button>
    </span>
    <div  ng-show='isBusy'>
      <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
      <b>Loading data...</b>
    </div>
  </div >
  <h4 class="text-warning">Patient List: {{getIndicatorDetails().label.replace('# of', '')|titlecase  }}
    in {{selectedLocationName}} <span style="padding-left:150px;"></span> Start date: {{startDate}}    End date:{{endDate}}
  </h4>
  <hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;" />

  <!-- DATATABLE -->

  <patient-list-filters enabled-controls="' patientable'"   >
  </patient-list-filters>
  <!-- END DATATABLE -->


  <div style="padding:2px; margin-bottom: 30px !important; ">

    <div ng-show='!isBusy && !allDataLoaded'>
      <span class="text-success">{{patients.length}} Records Loaded. Click 'Load More' to fetch more records</span>
      <button class="btn btn-info pull-right " ng-click="loadPatientList(true)">
        <span class="glyphicon glyphicon-refresh"></span> Load More</button>
    </div>
    <div ng-show='isBusy && !allDataLoaded'>
      <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
      <b>Loading data...</b>
    </div>
    <div ng-show='allDataLoaded' >
      <p class="bg-info" style="padding:4px;">
        <b>
          <span style="color:green;" class="glyphicon glyphicon-ok" />All data loaded {{'[ ' + patients.length + ' ]'}}</b>
      <p>
    </div>
  </div>
</div>
