<!-- DATATABLE -->
      <div class="form-group col-md-12" ng-show="canView('patientable')" >

        <div id="toolbar">
          <select ng-model='exportDataType' style="margin-left: 5px" class="form-control"
                  ng-options="l.name for l in exportList" ng-change="updateSelectedType()">
          </select>
        </div>
        <table id="bsTable" class="table table-striped table-condensed table-hover" bs-table-control="bsTableControl" >
        </table>
      </div>
      <!-- END DATATABLE -->

