<div ng-disabled="isBusy">
  <div style="padding:4px; height: 45px; margin-bottom: 10px !important;">

    <div class="alert alert-danger" ng-click="loadPatientList()" ng-show='experiencedLoadingErrors'>
				<span class="glyphicon glyphicon-exclamation-sign">
        </span> An error occurred while loading. Please try again.</b>
    </div>
    <span style="height: 35px">
      <div ng-show='isBusy && !allDataLoaded' class="pull-left">
        <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus/>
        <b>Loading data...</b>
      </div>
      <button class="btn btn-info pull-right" ng-click="loadPatientList()"
              ng-disabled='isBusy||selectedLocations.locations.length<1'>
        <span ng-show="savingProperty" class="fa fa-spinner fa-spin"></span>
        <span ng-hide="savingProperty" class="glyphicon glyphicon-refresh"></span>
        <span>Load Patient List</span>
      </button>
    </span>
  </div>
  <div ng-hide="patients.length<1 || experiencedLoadingErrors">
    <hr class="bg-danger" style="margin-top: 0px; margin-bottom: 2px;"/>
    <patient-list-filters enabled-controls="' patientable'" ng-hide="isBusy">
    </patient-list-filters>
    <!-- END DATATABLE -->
    <hr style="margin: 4px;"/>
    <div style="padding:2px; margin-bottom: 30px !important; ">
      <div ng-show='!isBusy && !allDataLoaded'>
        <span class="text-success">{{patients.length}} Records Loaded. Click 'Load More' to fetch more records</span>
        <button class="btn btn-info pull-right " ng-click="loadPatientList(true)" ng-disabled="">
          <span class="glyphicon glyphicon-refresh"></span> Load More
        </button>
      </div>
      <div ng-show='allDataLoaded'>
        <p class="bg-info" style="padding:4px;">
          <b>
            <span style="color:green;" class="glyphicon glyphicon-ok"/>All data loaded {{'[ ' + patients.length + '
            ]'}}</b>

        <p>
      </div>
    </div>
  </div>
</div>
