<div class="container-fluid">
  <div class="text-center">
  <img src="favicon.ico">
  <h3 >AMPATH AMRS Point of CARE.</h3><h5>Please log in to proceed:</h5>
    <h3 class="text-primary"><span class="glyphicon glyphicon-lock"></span> Login</h3>
  </div>

  <hr/>
  <form ng-submit="authenticate()">
    <div class="form-group">
      <label for="username">Username</label>
      <div class="input-group">
        <input class="form-control" type="text" tabindex="1" placeholder="Username" name="username" id="username" ng-model="CurrentUser.username" autofocus required="">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-user text-primary"></span>
				</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input class="form-control" id="password" type="password" name="password" ng-model="CurrentUser.password" tabindex="2" required="" placeholder="Password" >
				<span class="input-group-addon" >
					<span class="glyphicon glyphicon-lock text-primary"></span>
				</span>
      </div>
    </div>
  </form>
  <hr/>
  <div class="form-group">
    <input type="submit" class="btn btn-primary"  value="Login" tabindex="4" id="login" ng-disabled="isBusy" ng-click="authenticate()"/>
    <a href="#/url-selector" id="serverSettings" class="btn btn-primary pull-right">Server Settings</a>
    <img class="btnLogin" ng-show="isBusy" src="images/ajax-loader.gif"/>
  </div>

  <div class="col-sm-12 alert alert-danger" ng-show="isVisible" role="alert"><p class="text-center">{{errors}}</p></div>

</div>
