<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 well">
    <form role="form" class="form-horizontal">
    <div>
      <div class="form-group">
        <h5 style="text-align:center;">Welcome to AMPATH AMRS Point of CARE.<br/>Please log in to prooceed:</h5>
      </div>
      <div class="form-group">
        <label for="username" class="control-label col-sm-6">Username:</label>
        <div class="col-sm-6">
          <input type="text" name="username" id="username" ng-model="CurrentUser.username"/>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-sm-6">Password:</label>
        <div class="col-sm-6">
            <input type="password" name="password" ng-model="CurrentUser.password"/>
        </div>
      </div>
      <div class="form-group">
        <div align="right" style="margin-right: 10px;">
          <input class="btn btn-info" type="button" id="login" value="Login" ng-click="authenticate()"/>
        </div>

      </div>
      <div class="form-group">
        <div style="color:red; text-align:center;" class="col-sm-12">{{errors}}</div>
      </div>

    </div>
  </form>
  </div>
  <div class="col-md-3"></div>
</div>
