<div class="header" ng-show="showNavigationBar">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverted" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/" rel="home" title="point of care">
          <img style="max-width:100px; margin-top: -10px; padding-bottom: 2px;"
               src="images/logo.png" alt="P.O.C">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ui-sref-active="active" ui-sref="home"><a href="#/">Home</a></li>
          <li ui-sref-active="active" ui-sref="about"><a href="#/">Patient Search</a></li>
          <li ui-sref-active="active" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" >
              Dashboards <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
                    <li><a ng-href="#/dashboard">Clinic Dashboard</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Other</a></li>
            </ul>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li ng-hide="isUserLoggedIn" ui-sref-active="active"><a ui-sref="login" ng-href="#/dashboard">Sign In</a></li>
          <li ui-sref-active="active" class="dropdown" ng-show="isUserLoggedIn">
            <a data-toggle="dropdown" class="dropdown-toggle" >
              {{username}} <span class="glyphicon glyphicon-user"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li >
                 <a><span>  Location: {{location}} <br/>  Role: {{role}}</span></a>
              </li>
              <li class="divider"></li>
              <li  ui-sref-active="active">
                <a ui-sref="login" ng-href="#/dashboard">
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
              </li>
           </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
