<div class="container-fluid" ng-controller="PatientDashboardCtrl">
<p>testing page</p>
</div>
<div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

         <div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Overview</a></li>
              <li><a href="#">Demographics</a></li>
              <li><a href="#">Clinical Summary</a></li>
              <li><a href="#">Form entry</a></li>
              <li><a href="#">Labs</a></li>
            </ul>

        </div>
        <!-- Right Side of the canvass -->
        <div class="col-sm-9 main">
		        <h3 class="page-header">
            Dashboard
            <p class="lead">(<a href="http://www.bootply.com/128936">with off-canvas sidebar</a>)</p>
          </h3>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder text-center">
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder text-center">
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <hr>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>


</div>
