<div class="panel panel-default" style="padding: 4px;">
	<h2 style="margin-top:2px;">&nbsp;
		<span class="icon-care-staff-area" aria-hidden="true"></span> Cinical Dashboard</h2>
	<hr/>
	<ul class="nav nav-pills">
		<li class="active">
			<a data-target="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Daily Appointments</a>
		</li>
		<li>
			<a data-target="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Monthly Appointments</a>
		</li>
		<li>
			<a data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Defaulters List</a>
		</li>
	</ul>
	<div class="tab-content panel panel-default" style="margin-top:2px; margin-bottom: 0px; padding:2px;">
		<div class="tab-pane fade in active" id="tab1">
			<vitals patient-uuid="c6e4e026-3b49-4b64-81de-05cf8bd18594" />
		</div>
		<div class="tab-pane fade in" id="tab2"></div>
		<div class="tab-pane fade in" id="tab3"></div>
	</div>
</div>