<div style="margin: 2px;">
	<stats-data-entry-filters enabled-controls="controls" 
	start-date="startDate" selected-provider="selectedProvider" 
	selected-forms="selectedForms" selected-locations="selectedLocations"
	selected-encounter-types="selectedEncounterTypes">
	</stats-data-entry-filters>
	<div ng-show='!isBusy'>
		<button class="btn btn-info" ng-click="loadStatsFromServer()">
			Load
		</button>
		<button class="btn btn-default" ng-click="getPreviousStartDate()">
			Previous 7 Days
		</button>
		<button class="btn btn-default" ng-click="getNextStartDate()">
			Next 7 Days
		</button>
	</div>
	<div ng-show='isBusy'>
		<img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
		<b>Loading data...</b>
	</div>
	<div ng-show='experiencedLoadingErrors' style="margin-top: 2px;">
		<p class="bg-danger" style="padding:4px;">
			<b>
				<span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
			<p>
	</div>
	<div ng-hide="needsRefresh">
		<h3 class="text-primary" style="magin-top: 0px; margin-bottom:0px;"> <strong> View 1 </strong> <small class="text-primary">({{startDate | date:'dd-MM-yyyy'}} to {{endDate | date:'dd-MM-yyyy'}})</small> </h3>
		<!--<hr style="margin-top: 2px; margin-bottom: 2px;"/>-->

		<div class="panel panel-primary" style="padding:2px; margin:0px;">
			<table class='table table-responsive'>
				<thead>
					<tr>
						<th>Encounter Types</th>
						<th ng-repeat="header in columnHeaderRow">{{header | date:'EEE'}}
							<br/> {{header | date:'dd-MM-yyyy'}}</th>
					</tr>
				</thead>
				<tr ng-repeat="item in groupedItems">
					<td>
						{{item.encounter_type}}
					</td>
					<td ng-repeat="cell in item.value">
						{{cell.value.encounters_count}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>