<h2  ng-click="selectedView = ''" style="cursor:pointer;"> <span style="font-size:20px;" class="glyphicon glyphicon-stats"></span><strong> Data Entry Statistics </strong>
</h2>
<hr style="margin: 0px;" />
<ul class="nav nav-pills" style="margin-top:16px;">
	<li ui-sref-active="active"><a ui-sref="admin.data-entry-statistics.view({view_id:'view1'})"><span span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Encounters per type per day</a></li>
	<li ui-sref-active="active"><a ui-sref="admin.data-entry-statistics.view({view_id:'view2'})"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Encounters per type per month</a></li>
	<li ui-sref-active="active"><a ui-sref="admin.data-entry-statistics.view({view_id:'view3'})"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Encounters per type per Provider</a></li>
	<li ui-sref-active="active"><a ui-sref="admin.data-entry-statistics.view({view_id:'view4'})"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Encounters per type per creator</a></li>
	<li ui-sref-active="active"><a ui-sref="admin.data-entry-statistics.view({view_id:'view5'})"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Custom configurations</a></li>
</ul>
<div ui-view></div>
