<stats-data-entry-stats-view-one ng-show="selectedView === 'view1'"></stats-data-entry-stats-view-one>
<stats-data-entry-stats-view-two   ng-show="selectedView === 'view2'"></stats-data-entry-stats-view-two>
<stats-data-entry-stats-view-three  ng-show="selectedView === 'view3'"></stats-data-entry-stats-view-three>
<stats-data-entry-stats-view-four  ng-show="selectedView === 'view4'"></stats-data-entry-stats-view-four>
<stats-data-entry-stats  ng-show="selectedView === 'view5'"></stats-data-entry-stats>
