
<div class="panel panel-info" ng-show="criticalReminders.length>0" style="margin-top: -15px!important;">
  <!--<div class="panel-heading">-->
    <!--<span class="fa-stack fa-lg">-->
      <!--<i class="fa fa-circle-thin fa-stack-2x text-danger"></i>-->
      <!--<i class="fa fa-bell fa-stack-1x text-danger"></i>-->
    <!--</span> Critical Clinical Reminders-->
  <!--</div>-->
  <div class="panel-body" style="padding: 3px!important;">
    <div ng-repeat="criticalReminder in criticalReminders" ng-class="{'alert alert-danger': criticalReminder.type === 'warning', 'alert alert-success': criticalReminder.type === 'success' , 'alert alert-info': criticalReminder.type === 'info'}" style="padding: 10px!important; margin-bottom: 3px!important;">
      <span class="pull-right">
        <i ng-class="{'fa fa-info-circle fa-2x text-danger': criticalReminder.type === 'warning', 'fa fa-info-circle fa-2x text-success': criticalReminder.type === 'success' , 'fa fa-info-circle fa-2x text-info': criticalReminder.type === 'info'}"></i>
      </span>
      <p ng-class="{'text-danger': criticalReminder.type === 'warning', 'text-success': criticalReminder.type === 'success' , 'text-info': criticalReminder.type === 'info'}">
        <strong>{{criticalReminder.message}}</strong>

        <strong class="text-muted">{{criticalReminder.labs}}</strong>
      </p>
    </div>
  </div>
</div>

<span id="mainNotification" style="display:none;"></span>
<script id="infoTemplate" type="text/x-kendo-template">
  <div class="info-template" style="cursor: pointer;">
    <i class="fa fa-times fa-lg pull-right text-muted" style="margin-right: 15px"></i>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x text-primary"></i>
      <i class="fa fa-envelope fa-stack-1x text-primary"></i>
    </span>

    <h3><strong>#= title #</strong></h3>

    <p class="text-muted">#= message #
      <br/> <strong>#= labs #</strong>
    </p>
  </div>
</script>

<script id="warningTemplate" type="text/x-kendo-template">
  <div class="warning-template" style="cursor: pointer;">
    <i class="fa fa-times fa-lg pull-right text-muted" style="margin-right: 15px"></i>
    <span class="fa-stack fa-lg ">
      <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
      <i class="fa fa-info-circle fa-stack-1x text-warning"></i>
    </span>

    <h3><strong>#= title #</strong></h3>

    <p class="text-muted">#= message #
      <br/> <strong  style="line-height: 1" >#= labs #</strong>
    </p>
  </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
  <div class="success-template" style="cursor: pointer;">
    <i class="fa fa-times fa-lg pull-right text-muted" style="margin-right: 15px"></i>
    <span class="fa-stack fa-lg ">
      <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
      <i class="fa fa-envelope fa-stack-1x text-success"></i>
    </span>

    <h3><strong>#= title #</strong></h3>

    <h3>#= message #</h3>
    <br/> <strong>#= labs #</strong>
  </div>
</script>
