<div ng-hide="hasSummary === true" class="bg-warning">
  <p>No summary available</p>
</div>
<div ng-show='isBusy'>
  <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
  <b>Loading data...</b>
</div>
<div ng-show='experiencedLoadingError'>
  <p class="bg-danger" style="padding:4px;">
    <b>
      <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
    <p>
      <div ng-show='!isBusy && experiencedLoadingError'>
        <button class="btn btn-info" ng-click="fetchHivSummary()">
          <span class="glyphicon glyphicon-refresh"></span>
          <span>Try Again</span>
        </button>
      </div>
</div>
<ul class="list-group" ng-show="(hasSummary === true && experiencedLoadingError == false)">
  <li class="list-group-item" style="font-size:large">Last Appt Date: {{hivSummary.encounterDatetime()| date:'dd-MM-yyyy'}}
      {{hivSummary.prevEncounterTypeName() ? '(' + hivSummary.prevEncounterTypeName() + ')' : '(None)' }}</li>
  <li class="list-group-item" style="font-size:large">Previous RTC Date: {{hivSummary.prevRtcDate()| date:'dd-MM-yyyy'}}</li>
  <li class="list-group-item" style="font-size:large">Last Viral Load: {{hivSummary.vl_1()}} ({{hivSummary.vl_1Date() | date:'dd-MM-yyyy'}})
    <br/>
    <i style="font-size:smaller" class="text-muted" ng-if="hivSummary.isPendingViralLoad().status"> There is a Pending Viral Load Test Ordered on:
      <span ng-class="hivSummary.isPendingViralLoad().status=== true && hivSummary.isPendingViralLoad().days>30?'text-danger':''">
        {{hivSummary.vlOrderDate() | date:'dd-MM-yyyy'}}</span>
    </i>
  </li>
  <li class="list-group-item" style="font-size:large">Last CD4 Count: {{hivSummary.cd4_1()}} ({{hivSummary.cd4_1Date()| date:'dd-MM-yyyy'}})
    <br/>
  <i style="font-size:smaller" class="text-muted" ng-if="hivSummary.isPendingCD4().status"> There is a Pending CD4 Count Test Ordered on:
      <span ng-class="hivSummary.isPendingCD4().status=== true && hivSummary.isPendingCD4().days>30?'text-danger':''">
        {{hivSummary.cd4OrderDate() | date:'dd-MM-yyyy'}}</span>
    </i>
  <li class="list-group-item" style="font-size:large">Current ARV Regimen: {{hivSummary.curArvMeds()}}</li>
  <li class="list-group-item" style="font-size:large">Enrollment Date: {{hivSummary.enrollmentDate()| date:'dd-MM-yyyy'}}</li>
  <li class="list-group-item" style="font-size:large">ARV Start Date: {{hivSummary.arvStartDate()| date:'dd-MM-yyyy'}}</li>
  <li class="list-group-item" style="font-size:large">INH Prophylaxis Start Date :{{hivSummary.tbProphylaxisStartDate() |  date:'dd-MM-yyyy'}}</li>
  <li class="list-group-item" style="font-size:large">Current Who Stage: {{hivSummary.curWhoStage()}}</li>
</ul>
<div>
  <button class="btn btn-info" ng-click="openHistoricalSection()" ng-show="!showingHistoricalSummary && hasSummary">
    <span>Show Complete HIV History</span>
  </button>
</div>
