<div ng-disabled="isBusy">
	<table class='table table-hover table-striped table-responsive'>
		<thead>
			<tr>
				<th>Date</th>
				<th>Current ARV Meds</th>
				<th>CD4 Count</th>
				<th>Viral Load</th>
			</tr>
		</thead>
		<tr ng-repeat="encounter in hivSummaries" >
			<td>{{encounter.encounterDatetime()  | date:'dd-MM-yyyy'}}</td>
			<td>{{encounter.curArvMeds()}}</td>
			<td>{{encounter.cd4_1()}}
				<div>
					<small ng-if="encounter.cd4_1Date()" class="text-default">({{encounter.cd4_1Date()  | date:'dd-MM-yyyy'}})</small>
				</div>
			</td>
			<td>{{encounter.vl_1()}}
				<div>
					<small ng-if="encounter.vl_1Date()" class="text-default">({{encounter.vl_1Date()  | date:'dd-MM-yyyy'}})</small>
				</div>
			</td>
		</tr>
	</table>
	<div ng-show='experiencedLoadingError'>
		<p class="bg-danger" style="padding:4px;">
			<b>
				<span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
			<p>
	</div>
	<div ng-show='!isBusy && !allDataLoaded'>
		<button class="btn btn-info" ng-click="loadHistoricalHivSummary()">
			<span class="glyphicon glyphicon-refresh"></span>Load More</button>
	</div>
	<div ng-show='isBusy && !allDataLoaded'>
		<img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
		<b>Loading data...</b>
	</div>
	<div ng-show='allDataLoaded'>
		<p class="bg-info" style="padding:4px;">
			<b>
				<span style="color:green;" class="glyphicon glyphicon-ok" />All records loaded {{'[ ' + hivSummaries.length + ' ]'}}</b>
			<p>
	</div>
</div>
