<!--<div ng-disabled="isBusy">-->
  <!-- DATATABLE -->
  <div>

    <div id="toolbar">
      <select ng-model='exportDataType' style="margin-left: 5px" class="form-control"
              ng-options="l.name for l in exportList" ng-change="updateSelectedType()">
      </select>
    </div>
    <table id="bsTable" class="table table-striped table-condensed table-hover" bs-table-control="bsTableControl" >
    </table>
  </div>

    <div ng-show='experiencedLoadingError'>
      <p class="bg-danger" style="padding:4px;">
        <b>
          <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
        <p>
    </div>
    <div ng-show='!isBusy && !allDataLoaded'>
      <button class="btn btn-info" ng-click="loadMoreLabs(true)">
        <span class="glyphicon glyphicon-refresh"></span>Load More</button>
    </div>
    <div ng-show='isBusy && !allDataLoaded'>
      <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
      <b>Loading data...</b>
    </div>
    <div ng-show='allDataLoaded'>
      <p class="bg-info" style="padding:4px;">
        <b>
          <span style="color:green;" class="glyphicon glyphicon-ok" />All patient tests loaded {{'[ ' + encounters.length + ' ]'}}</b>
        <p>
    </div>
  </div>
</div>
