<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Editing Patner Phone Number</h3>
</div>
<div class="modal-body">
  <manager-person-attributes attribute-name="Patner Phone Number" attribute-type-uuid="b0a08406-09c0-4f8b-8cb5-b22b6d4a8e46" patient-uuid="{{patient.uuid()}}" attribute-value={{patient.patnerPhoneNumber()}}></manager-person-attributes>
</div>
