<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Editing Alternative Phone Number</h3>
</div>
<div class="modal-body">
  <manager-person-attributes attribute-name="Alternative Phone Number" attribute-type-uuid="c725f524-c14a-4468-ac19-4a0e6661c930" patient-uuid="{{patient.uuid()}}" attribute-value={{patient.alternativePhoneNumber()}}></manager-person-attributes>
</div>
