<div ng-controller="EncounterCtrl as vm">
  <div class="table-responsive" data-pattern="priority-columns">
  <table class="table table-striped table-bordered table-condensed table-hover" cellspacing="0">
    <thead>
      <tr>
        <th data-priority="1">Encounter Date</th>
        <th data-priority="1">Encounter Type</th>
        <th data-priority="2">Location</th>
        <th data-priority="3">Provider</th>
        <th data-priority="4">RTC Date</th>
    </thead>
    <tbody>
      <tr ng-repeat="encounter in vm.encounterList" 
      ng-click="vm.setSelected({{encounter}})" 
      ng-class="{info: vm.selectedEncounter.uuid === encounter.uuid}">
        <td>{{encounter.encounterDatetime | date: dd-MM-yyyy}}</td>
        <td>{{encounter.encounterType.display}}</td>
        <td>{{encounter.location.display}}</td>
        <td>{{encounter.provider.display}}</td>
        <td>{{encounter.visit}}</td>
      </tr>
    </tbody>  
  </table>
  </div>
  <!-- <div>
    This is selected: <br/>{{vm.selectedEncounter}}
  </div> -->
</div>
