<div ng-controller="EncounterCtrl as vm">
    <accordion class="accordion" close-others="oneAtATime">
        <accordion-group  ng-repeat="encounter in vm.encounterList" is-open="vm.status.isOpen[$index]" >
            <accordion-heading>
                <div style="padding:2px;">
                {{encounter.encounterDatetime | date: 'dd-MM-yyyy'}} {{' | '}}
                {{encounter.encounterType.display}} | {{encounter.location.display}}
                 <i style="color:lightblue;" class="pull-right glyphicon " ng-class="{'glyphicon-chevron-down': vm.status.isOpen[$index], 
                 'glyphicon-chevron-right': !vm.status.isOpen[$index]}"></i>
                 </div>
            </accordion-heading>
            <div>
              <table class="table table-striped table-bordered table-condensed table-hover" cellspacing="0">
                <tbody>
                  <tr><td>Encounter Date</td> <td>{{encounter.encounterDatetime | date: dd-MM-yyyy}}</td></tr>
                  <tr><td>Encounter Type</td><td>{{encounter.encounterType.display}}</td></tr>
                  <tr><td>Location</td><td>{{encounter.location.display}}</td></tr>
                  <tr><td>provider</td><td>{{encounter.provider.display}}</td></tr>
                  <tr><td>RTC Date</td><td>{{encounter.visit}}</td></tr>
                  </tr>
                </tbody>  
              </table>
                <table class="table table-striped table-bordered table-condensed table-hover" cellspacing="0">
                  <thead>
                    <tr>
                      <td>Observations Item(s)</td>
                      <td>Value</td>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="obs in encounter.obs">
                          <td>{{obs.concept.display}}</td>
                          <td>{{obs.value.display || obs.value}}</td>
                      </tr>
                  </tbody>
                </table>
                </legend>
            </div>
        </accordion-group>
    </accordion>
</div>
