<div class="panel" ng-class="{'panel-info':!patient.deathDate(), 'panel-danger':patient.deathDate()}" style="padding: 0px;">
	<div class="panel-heading ">
    <div class="container-fluid">
      <div class="row" style="font-size:large">
            <div class="col-sm-6">
              <h5  style="padding-top: 10px">{{patient.fullNames() | titlecase}} ({{patient.genderFull()}})</h5>
               <h5  style="padding-top: 10px">Age: {{patient.age()}} DOB: ({{patient.birthdate()| date:'dd-MM-yyyy'}})</h5>
               <h5  style="padding-top: 10px">Phone Number: {{patient.phoneNumber()}} <span ng-if="patient.phoneNumber()==null">Not Available</span></h5>
              <h5  style="padding-top: 10px">Health Center: {{patient.healthCenter()}}</h5>
              </div>
        <div class="col-sm-6">
          <h5  style="padding-top: 10px">AMRS UID: <span ng-if="patient.commonIdentifiers().ampathMrsUId">{{patient.commonIdentifiers().ampathMrsUId}}</span>
            <span ng-if="patient.commonIdentifiers().ampathMrsUId==null">Not Available</span></h5>
          <h5  style="padding-top: 10px">AMRS MRN: <span ng-if="patient.commonIdentifiers().amrsMrn">{{patient.commonIdentifiers().amrsMrn}}</span>
            <span ng-if="patient.commonIdentifiers().amrsMrn==null">Not Available</span></h5>
          <h5  style="padding-top: 10px">CCC:<span ng-if="patient.commonIdentifiers().cCC"> {{patient.commonIdentifiers().cCC}} </span>
            <span ng-if="patient.commonIdentifiers().cCC==null">Not Available</span></h5>
          <h5  style="padding-top: 10px">National ID: <span ng-if="patient.commonIdentifiers().kenyaNationalId">{{patient.commonIdentifiers().kenyaNationalId}}</span>
            <span ng-if="patient.commonIdentifiers().kenyaNationalId==null">Not Available</span></h5>
            </div>
      </div>
    </div>
	</div>
</div>
<div style="margin-top: 4px; margin-bottom:4px;">
	<div class="row">
		<div class="col-lg-2 " style="padding-left:13px; padding-right:13px; padding-top:4px; padding-bottom:4px;">
			<ul class="nav nav-pills nav-stacked hidden-sm hidden-md" style="cursor: pointer;">
				<li active-tab-sync index="1" data-ng-glick="activeList(this, 1)" ng-class="{active: activeListId === 1}">
					<a data-target="#tab1" data-toggle="tab"><span class="icon-i-administration" aria-hidden="true"></span>&nbsp;Patient Info</a>
				</li>
				<li active-tab-sync index="2" data-ng-glick="activeList(this, 2)" ng-class="{active: activeListId === 2}">
					<a data-target="#tab2" data-toggle="tab"><span class="icon-i-registration" aria-hidden="true"></span>&nbsp;Encounters</a>
				</li>
				<li active-tab-sync index="4" data-ng-glick="activeList(this, 4)" ng-class="{active: activeListId === 4}">
					<a data-target="#tab4" data-toggle="tab"><span class="icon-i-cardiology" aria-hidden="true"></span>&nbsp;Vitals</a>
				</li>
        <li active-tab-sync index="7" data-ng-glick="activeList(this, 7)" ng-class="{active: activeListId === 7}">
          <a data-target="#tab7" data-toggle="tab"><span class="icon-i-medical-library" aria-hidden="true"></span>&nbsp;HIV Summary</a>
        </li>
				<li active-tab-sync index="5" data-ng-glick="activeList(this, 5)" ng-class="{active: activeListId === 5}">
					<a data-target="#tab5" data-toggle="tab"><span class="icon-i-laboratory" aria-hidden="true"></span>&nbsp;Lab Data Summary</a>
				</li>
				<li active-tab-sync index="6" data-ng-glick="activeList(this, 6)" ng-class="{active: activeListId === 6}">
					<a data-target="#tab6" data-toggle="tab"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Current Visit</a>
				</li>
				<li active-tab-sync index="3" data-ng-glick="activeList(this, 3)" ng-class="{active: activeListId === 3}">
					<a data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Forms</a>
				</li>
			</ul>
			<ul class="nav nav-pills hidden-xs hidden-lg hidden-xl " style="cursor: pointer;">
				<li active-tab-sync index="1" data-ng-glick="activeList(this, 1)" ng-class="{active: activeListId === 1}">
					<a data-target="#tab1" data-toggle="tab"><span class="icon-i-administration" aria-hidden="true"></span>&nbsp;Patient Info</a>
				</li>
				<li active-tab-sync index="2" data-ng-glick="activeList(this, 2)" ng-class="{active: activeListId === 2}">
					<a data-target="#tab2" data-toggle="tab"><span class="icon-i-registration" aria-hidden="true"></span>&nbsp;Encounters</a>
				</li>
				<li active-tab-sync index="4" data-ng-glick="activeList(this, 4)" ng-class="{active: activeListId === 4}">
					<a data-target="#tab4" data-toggle="tab"><span class="icon-i-cardiology" aria-hidden="true"></span>&nbsp;Vitals</a>
				</li>
        <li active-tab-sync index="7" data-ng-glick="activeList(this, 7)" ng-class="{active: activeListId === 7}">
          <a data-target="#tab7" data-toggle="tab"><span class="icon-i-medical-library" aria-hidden="true"></span>&nbsp;HIV Summary</a>
        </li>
				<li active-tab-sync index="5" data-ng-glick="activeList(this, 5)" ng-class="{active: activeListId === 5}">
					<a data-target="#tab5" data-toggle="tab"><span class="icon-i-laboratory" aria-hidden="true"></span>&nbsp;Lab Data Summary</a>
				</li>
				<li active-tab-sync index="6" data-ng-glick="activeList(this, 6)" ng-class="{active: activeListId === 6}">
					<a data-target="#tab6" data-toggle="tab"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Current Visit</a>
				</li>
				<li active-tab-sync index="3" data-ng-glick="activeList(this, 3)" ng-class="{active: activeListId === 3}">
					<a data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Forms</a>
				</li>
			</ul>
		</div>
		<div class="tab-content col-lg-10 ">
			<div class="tab-pane fade in active panel panel-default" style="padding:4px;" id="tab1">
				<div class="panel  panel-info" style="margin-bottom: 0px;">
					<div class="panel-heading">Demographics</div>
				</div>
				<div style="margin-top: 2px;">
					<patient-demographics></patient-demographics>
				</div>
			</div>
			<div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab2">
				<div class="page-content">
					<patient-encounters></patient-encounters>
				</div>
			</div>
			<div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab3">
				<div class="page-content">
					<opemrs-forms></opemrs-forms>
				</div>
			</div>
			<div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab4">
				<div class="page-content">
					<vitals patient-uuid="{{patient.uuid()}}"></vitals>
				</div>
			</div>
			<div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab5">
				<div class="page-content">
					<labs-summary patient-uuid="{{patient.uuid()}}"></labs-summary>
				</div>
			</div>
			<div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab6">
				<div class="page-content">
					<current-visit patient-uuid="{{patient.uuid()}}"></current-visit>
				</div>
			</div>
      <div class="tab-pane fade in panel panel-default  " style="padding:4px;" id="tab7">
        <div class="page-content">

          <div style="margin-top: 2px; padding:2px;">
            <hiv-summary patient-uuid="{{patient.uuid()}}"></hiv-summary>
          </div>
          <accordion ng-show="showHivHistoricalSummary">
            <accordion-group is-open="HivHistoricalExpanded">
              <accordion-heading>
                <div style="padding:3px;">Historical Hiv Summary
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': HivHistoricalExpanded, 'glyphicon-chevron-right': !HivHistoricalExpanded}"></i>
                </div>
              </accordion-heading>
              <hiv-summary-historical patient-uuid="{{patient.uuid()}}"></hiv-summary-historical>
            </accordion-group>
          </accordion>
        </div>
      </div>
		</div>
	</div>
</div>
