<div class="post-lab-order">
  <h4 style="margin-top: 0px; margin-bottom:2px;"><span class="text-primary">{{orderType.display}}</span></h4>

  <hr class="header-hr" style="margin-top: 1px; margin-bottom: 2px;" />

  <div ng-show="order != null" class="order-info">
    <p>
      <em>Location: <strong ng-bind="locationDisplay"></strong>.</em>
      <em>&nbsp;Date Collected: <strong>{{order.dateActivated | date:'dd-MM-yyyy HH:mm'}}</strong>.</em>
      <em>&nbsp;Provider: <strong>{{order.orderer.display}}</strong></em>
    </p>
    <p ng-show="justification != null">
      <em>Justification:&nbsp;<strong ng-bind="justification"></strong>.</em>
    </p>
    <p ng-show="orderLoading == true">
      <em>Loading justification...</em>
    </p>
  </div>
  <hr class="header-hr" style="margin-top: 1px; margin-bottom: 2px;" />
  <div ng-show="isOrderSearch">
    <a ng-href="#/patient/{{patientUuid}}" class="btn btn-primary ladda-button">
      <span class="icon-i-administration">View Patient</span>
    </a>
  </div>
  <div>
    <div class="panel-info">
      <h5 style="margin-top: 2px; margin-bottom:2px; font-weight:bold;"><span>Patient Info</span></h5>
      <hr style="margin-top: 1px; margin-bottom: 2px;" />
      <table class="table">
        <tbody>
          <tr class="after_table row_0">
            <td><strong>Name</strong></td>
            <td>{{patientName}}</td>
          </tr>
          <tr>
            <td><strong>Identifier</strong></td>
            <td>{{patientIdentifier}}</td>
          </tr>
          <tr>
            <td><strong>Gender</strong></td>
            <td>{{sex}}</td>
          </tr>
          <tr>
            <td><strong>DOB</strong></td>
            <td>{{(birthDate | date:'dd-MM-yyyy')}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-info">
      <h5 style="margin-top: 2px; margin-bottom:2px; font-weight:bold;"><span>HIV Summary Info</span></h5>
      <hr style="margin-top: 1px; margin-bottom: 2px;" />

      <table class="table">
        <tbody>
          <tr class="after_table row_0">
            <td>ART Initial Start Date</td>
            <td>{{(artStartDateInitial | date:'dd-MM-yyyy')}}</td>
          </tr>
          <tr>
            <td>ART Current Start Date</td>
            <td>{{(artStartDateCurrent | date:'dd-MM-yyyy')}}</td>
          </tr>
          <tr>
            <td>Current ART Regimen</td>
            <td>{{currentArtRegimen}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-info" ng-show="orderType.type === 'DNAPCR'">
      <h5 style="margin-top: 2px; margin-bottom:2px; font-weight:bold;"><span>DNAPCR Summary Info</span></h5>
      <hr style="margin-top: 1px; margin-bottom: 2px;" />

      <table class="table">
        <tbody>
          <tr class="after_table row_0">
            <td>Hiv Status Of Mother</td>
            <td>{{HivStatusOfMother}}</td>
          </tr>
          <tr>
            <td>Infant Prophylaxis</td>
            <td>{{InfantProphylaxis}}</td>
          </tr>
          <tr>
            <td>Infant Feeding</td>
            <td>{{InfantFeeding}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="clear"></div>

  <div ng-hide="isBusy" class="container-fluid">

      <div class="row">
          <div>
              <div class="form-group">
                  <label for="eidServer">Lab Location</label>
                  <select class="form-control" id="eidServer" ng-model="selectedLabLocation">
                      <option ng-repeat="lab in labLocations" value="{{lab.value}}">{{lab.name}}</option>
                  </select>
              </div>
          </div>
      </div>

      <div class="row" ng-show="orderType.type === 'VL'">
          <!--ng-if="orderType.type === 'VL'"-->
          <div>
              <div class="form-group">
                  <label for="sampleType">Sample Type</label>
                  <select class="form-control" id="sampleType" ng-model="selectedSampleType">
                      <option ng-repeat="sample in sampleTypes" value="{{sample.id}}" >{{sample.display}}</option>
                  </select>
              </div>
          </div>
      </div>

      <div class="row">
          <div>
              <div class="form-group">
                  <label for="dateReceived">Date Received</label>
                  <div class="input-group">
                      <input type="text" id="dateReceived" class="form-control" is-open="dateReceivedOpened" datepicker-popup="mediumDate" ng-model="dateReceived"
                          style="">
                      <span class="input-group-btn">
  							<button type="button" class="btn btn-default" ng-click="dateReceivedOpened = !dateReceivedOpened">
  								<i class="glyphicon glyphicon-calendar"></i>
  							</button>
              			</span>
                  </div>
              </div>
          </div>
      </div>


  </div>
  <div ng-show="isBusy">
      Processing request...
  </div>
  <div ng-show="hasError">
      <span class="text-danger"> <i class="glyphicon glyphicon-exclamation-sign"></i> {{errorMessage}}</span>
  </div>
  <div>
      <button ng-disabled="isBusy || hasError || hasLoadingError || !hasLoadingTimeRequiredInputs" class="btn btn-primary" ng-click="postOrder()">
            <span>Post Order<i ng-show="isBusy" style="font-size: 14px;" class="fa fa-spinner fa-spin ng-hide"></i></span>
            </button>
      <button class="btn btn-default" style="margin-left:4px;" ng-click="closeDialogWindow()">Cancel</button>
  </div>
</div>
