<div>
  <div>

    <div class="row">
      <div ng-show='experiencedLoadingError'>
        <p class="bg-danger" style="padding:4px;">
          <b>
            <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
          <p>
      </div>
      <div ng-show='isBusy'>
        <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
        <b>Loading data...</b>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Patient Identifer</label>
          <select class="form-control" ng-if="identifiers.length >= 1" ng-model="patientIdentifer">
            <option ng-repeat="opt in identifiers" value="{{opt.identifier}}">{{opt.identifierType.display}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Collection Date</label>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="mediumDate" is-open="valuationDatePickerIsOpen" ng-click="valuationDatePickerOpen()" ng-model="valuationDate" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="valuationDatePickerOpen()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Number of copies</label>
          <input type="text" class="form-control" ng-model="copies" />
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()">
            </th>
            <th>Collection Date</th>
            <th>Test Name</th>
            <th>Provider</th>
            <th>Patient Identifer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in labOrders">
            <td>
              <input type="checkbox" ng-model="order.isChecked" ng-change="selectEntity()">
            </td>
            <td>
              {{valuationDate | date:'dd/MM/yyyy'}}
            </td>
            <td>
              {{order.display}}
            </td>
            <td>
              {{order.orderer.display}}
            </td>
            <td>
              {{patientIdentifer}}
            </td>
            <td>
              <button ng-click="printLabel(order)" class="btn btn-xs"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button ng-disabled="isBusy || experiencedLoadingError" ng-click="printMultipleLabels()" class="btn">Print Selected <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
