<div ng-disabled="isBusy">
    <table class='table table-hover table-striped table-responsive'>
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>BP</th>
                <th>Pulse</th>
                <th>Temperature</th>
                <th>Oxygen Sat</th>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
            </tr>
        </thead>
        <tr ng-repeat="encounter in encounters">
            <td>
                <span class="glyphicon glyphicon-warning-sign text-danger" ng-if="(encounter.systolicBp() && (encounter.systolicBp() <= 80 || encounter.systolicBp() >= 140))
                  || (encounter.diastolicBp() && (encounter.diastolicBp() <= 50 || encounter.diastolicBp() >= 90)) || (encounter.pulse() && encounter.pulse() >= 100)
                  || (encounter.temperature() && (encounter.temperature() <= 35.0 || encounter.temperature() >= 38.0)) || (encounter.oxygenSat() && encounter.oxygenSat() <= 89)
                  || (encounter.BMI() && (encounter.BMI() <= 18 || encounter.BMI() >= 30))" >
                </span>
            <td>{{encounter.encounterDatetime() | date:'dd-MM-yyyy'}}</td>
            <td>
                <span style="{{(encounter.systolicBp() && (encounter.systolicBp() <= 80 || encounter.systolicBp() >= 140)) ? 'color:red;':''}}" >{{encounter.systolicBp()}}</span>
                <span style="{{(encounter.diastolicBp() && (encounter.diastolicBp() <= 50 || encounter.diastolicBp() >= 90)) ? 'color:red;':''}}">{{encounter.diastolicBp()}}</span>
            </td>
            <td>
                <span style="{{(encounter.pulse() && encounter.pulse() >= 100)?'color:red;':''}}">{{encounter.pulse()}}</span>
            </td>
            <td>
                <span style="{{(encounter.temperature() && (encounter.temperature() <= 35.0 || encounter.temperature() >= 38.0)) ? 'color:red;':''}}" >{{encounter.temperature()}}</span>
            </td>
            <td>
                <span style="{{(encounter.oxygenSat() && encounter.oxygenSat() <= 89)? 'color:red;':''}}">{{encounter.oxygenSat()}}</span>
            </td>
            <td>{{encounter.height()}}</td>
            <td>{{encounter.weight()}}</td>
            <td>
                <span style="{{(encounter.BMI() && (encounter.BMI() <= 18 || encounter.BMI() >= 30))? 'color:red;':''}}" >{{encounter.BMI()}}</span>
            </td>
        </tr>
    </table>
    <div ng-show='experiencedLoadingError'>
        <p class="bg-danger" style="padding:4px;">
            <b>
        <span style="color:red;" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
            <p>
    </div>
    <div ng-show='!isBusy && !allDataLoaded'>
        <button class="btn btn-info" ng-click="loadMoreVitals()">
            <span class="glyphicon glyphicon-refresh"></span>Load More</button>
    </div>
    <div ng-show='isBusy && !allDataLoaded'>
        <img ng-show="isBusy" src="images/ajax-loader.gif" autofocus />
        <b>Loading data...</b>
    </div>
    <div ng-show='allDataLoaded'>
        <p class="bg-info" style="padding:4px;">
            <b>
        <span style="color:green;" class="glyphicon glyphicon-ok" />All vitals loaded {{'[ ' + encounters.length + ' ]'}}</b>
            <p>
    </div>
</div>
